.form__fieldset {
    background-color: rgb(244 232 97);
    border-radius: 8px;
    max-width: 550px;
}

.form__legend {
    border: 1px solid currentColor;
    border-radius: 8px;
    background-color: rgb(244 232 97);
    padding: 5px;
}

.form__cost {
    background-color: rgb(244 232 97);
    border: 1px solid currentColor;
    border-radius: 8px;
    padding: 7px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.form__field {
    border-radius: 8px;
    width: 150px;
    padding: 4px;
}

.form__field:hover {
    background-color: hsl(55, 87%, 87%)
}

.form__field--width {
    width: 80px;
    border: 1px solid currentColor;
}

.form__button {
    background-color: rgb(244 232 97);
    border: 1px solid currentColor;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
}

.form__button:hover {
    background-color: hsl(55, 87%, 77%);;
}

.form__paragraph {
    margin: 0;
}

.form__paragraph--padding {
    padding: 5px;
}

.flex {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.flex__item {
    padding: 0 5px;
    flex-basis: 50%;
}