.form__fieldset {
    background-color: rgb(244 232 97);
    border-radius: 8px;
    max-width: 550px;
}

.form__field {
    border-radius: 8px;
    width: 150px;
    padding: 4px;
    margin: 3px;
}

.form__field:hover {
    background-color: hsl(55, 87%, 87%)
}

.form__field--width {
    width: 210px;
    border: 1px solid currentColor;
}

.form__button {
    background-color: rgb(244 232 97);
    border: 1px solid currentColor;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
}

.form__button:hover {
    background-color: hsl(55, 87%, 77%);;
}

.form__paragraph {
    margin: 0;
}

.form__paragraph--padding {
    padding: 5px;
}

@media (max-width: 841px) {
    .form__paragraph--font  {
        color:#ffffff;
    }
}





